.contato {
  padding: 100px 0;
}

.contato h1:after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: black;
  margin: 10px 0 20px 0;
}

.contato p {
  margin-bottom: 100px;
}

.itens_contato {
  text-align: center;
}

.itens_contato a {
  color: black;
}

.itens_contato a img {
  width: 180px;
  height: auto;
  /* padding: 30px; */
  transition: ease .2s;
}

.itens_contato a img:hover {
  /* -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); */
  transform: scale(1.1);
  transition: transform .2s;;
}

.item_contato {
  margin-bottom: 50px;
}